@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
/* 动画 */

/* 首页隐藏部分的悬浮变化 */
@keyframes changeHeight {
  100% {
    height: 48vh;
  }
}
/* 小箭头上下摆动 */
@keyframes dynamic {
  50% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(0);
  }
}
/* 每部分的通用css */
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #ffcccc;
  border: 1px solid;
  scroll-snap-align: start;
}
@font-face {
  font-family: "font";
  src: url("../../font/font-style.ttf") format("woff2");
}

* {
  font-family: font !important;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
}

/* 滚动贴合 */
main {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  height: 100vh;
}
/* 首页 */
main .beginner {
  background-image: url(./source/img/begin.png);
  position: relative;
  backdrop-filter: blur(10px);
}
main .beginner .header {
  display: flex;
  justify-content: center;
  position: relative;
}
main .beginner .header h1 {
  color: white;
  margin-top: 6vh;
  font-size: 7rem;
  letter-spacing: 2vw;
  cursor: pointer;
  text-align: center;
}

main .beginner .header h1 span {
  transition: 0.2s;
  text-align: center;
}
/* 悬浮凸起 */
main .beginner .header h1:hover span {
  color: #fff;
  font-size: 8rem;
  border-radius: 39px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
main .beginner .header .icon {
  position: absolute;
  width: 100px;
  bottom: -8vh;
  right: 15vw;
}
/* 箭头 */
.footer {
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 999;
}
.footer svg {
  top: 80vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 7rem;
  position: absolute;
  transition: 0.4s;
  animation-name: dynamic;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.footer svg:hover {
  width: 10rem;
  cursor: pointer;
}
/* 隐藏的部分 */
main .beginner .hide {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50vh;
  width: 35vw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-size: 1.5rem;
  display: none;
  transition: all 0.2s;
}
main .beginner .hide .text {
  margin-top: 10vh;
  transition: all 0.2s;
  padding: 1rem;
}
/* 容器悬浮适应文本 */
main .beginner .hide:hover {
  animation-name: changeHeight;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
main .beginner .hide:hover img {
  transform: translateY(-10vh);
  transform: scale(1.5);
}
main .beginner .hide:hover img + .text {
  transform: translateY(10vh);
}
main .beginner .hide img {
  height: 30vh;
  position: absolute;
  top: -20vh;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 1rem;
  transition: 0.2s;
}

/* 第二页 */
.hundred {
  position: relative;
}
.hundred .text {
  display: flex;
  justify-content: left;
  height: 100vh;
  display: inline-block;
  display: flex;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.6);
}
.hundred .text h1 {
  writing-mode: vertical-lr;
  font-size: 6rem;
  color: #fff;
  margin-left: 10vh;
  margin-top: 20vh;
  margin-right: 0;
  transform: translateX(-400%);
  transition: all 0.3s;
}
.hundred .text p {
  font-size: 1rem;
  writing-mode: vertical-lr;
  height: 50vh;
  margin: auto 0;
  margin-left: 3vw;
  color: aliceblue;
  transform: translateX(-20vw);
  transition: 0.2s;
}
/* 配合js滑动展示 */
.hundred .text h1 .show {
  transform: translate(0);
}
.hundred .text p .show {
  transform: translate(0);
}
.hundred {
  background-image: url(./source/img/his2.png);
}
/* 小卡片 */
.hundred .card {
  width: 40vw;
  height: 60vh;
  cursor: pointer;
  position: absolute;
  top: 10vh;
  left: 47vw;
  margin: auto 0;
  transform: translateX(400%);
  transition: transform 1s ease-in-out 0s;
}
body main .hundred .show {
  transform: translate(0);
}
/* 3d反转效果 */
.hundred .card .content {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  transform-style: preserve-3d; /*为子元素里的图片创建3d空间*/
  height: 60vh;
  border-radius: 1rem;
}
/* 悬浮时转180度 */
.hundred .card:hover .content {
  transform: rotateY(0.5turn);
}
.hundred .card .content img {
  object-fit: cover;
  width: 40vw;
  height: 70vh;
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.55);
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
  border-radius: 1rem;
}
.hundred .front,
.hundred .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  backface-visibility: hidden;
}
.hundred .back {
  transform: rotateY(0.5turn);
}
body main .hundred .show {
  transform: skew(-10deg);
}
/* 第三页 */
.century {
  position: relative;
  background-image: url(./source/img/his4.png);
}
/* 文字部分 */
.century .text {
  display: flex;
  margin-right: 70vw;
  justify-content: center;
  height: 100vh;
  right: 0;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  margin-right: 0;
}
.century .text h1 {
  writing-mode: vertical-lr;
  font-size: 6rem;
  color: #fff;
  margin-right: 10vw;
  margin-top: 20vh;
  margin-right: 0;
  transform: translateX(400%);
  transition: 0.4s;
}
.century .text p {
  font-size: 1rem;
  height: 50vh;
  margin: auto 0;
  margin-right: 2vw;
  color: aliceblue;
  width: 6vw;
  transform: translateX(20vw);
  transition: 0.2s;
}
.century .text h1 .show {
  transform: translate(0);
}
.century .text p .show {
  transform: translate(0);
}
/* 小卡片 */
.century .card {
  width: 50vw;
  height: 50vh;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  background-image: url(./source/img/his5.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  position: absolute;
  left: 15vh;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);

  transition: 0.4s;
  overflow: hidden;
  color: white;
  transform: translateX(-400%);
  transition: transform 1s ease-in-out 0s;
}
/* 倾斜效果 */
body main .century .show {
  transform: translate(0);
  transform: skewX(10deg);
}

.century .card:hover {
  transform: skew(0deg);
}

.century .align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}
/* 左上角三个小点*/
.century .red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
.century .yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

.century .green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}

/* 第四页 */
.yellow-palace .text {
  background-color: rgba(0, 0, 0, 0.6);
  height: 35vh;
  text-align: center;
}
.yellow-palace .text h1 {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 6vh;
  display: none;
}
.yellow-palace .text p {
  color: aliceblue;
  display: none;
  font-size: 1.5rem;
}
body main .yellow-palace {
  background-image: url(./source/img/his9.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
/* 瀑布流 */
.yellow-palace .mansory {
  column-count: 3; /*3列*/
  column-gap: 0;
  transform: translateY(300%);
  transition: 0.9s;
}
.yellow-palace .mansory .item {
  object-fit: cover;
  margin: 1rem;
}
.yellow-palace .mansory .item img {
  object-fit: cover;
  width: 100%;
  max-height: 40vh;
  border-radius: 1rem;
  transition: 0.2s linear;
}
.yellow-palace .mansory .item img:hover {
  transform: scale(1.2);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
body main .yellow-palace .show {
  transform: translate(0);
}
/* 按钮 */
.buttons {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background: #83956b;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  margin: 0 10vw;
}
.btn .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}
/* 悬浮时图标占满按钮 */
.btn:hover .icon {
  width: calc(100% - 0.6em);
}
.btn .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #000000;
}

.btn:hover .icon svg {
  transform: translateX(0.1em);
}
/* 按下变小 */
.btn:active .icon {
  transform: scale(0.9);
}
