@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 8px;
  }
}
@keyframes smaller {
}
* {
  margin: 0;
  padding: 0;
}
/* 每部分的通用css */
.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}
/* 首页的css */
.front-page {
  background-image: url(./source/img/front-page.jpg);
  /* display: none; */
}
/* 首页文字的动态 */
.front-page .text {
  transform-style: preserve-3d;
  perspective: 9rem;
  position: absolute;
  left: 22vw;
  top: 10vh;
}
.front-page .text > div {
  height: 8rem;
  font-size: 6rem;
  overflow: hidden;
  border-radius: 1vw;
}
.front-page .text > div > span {
  display: block;
  letter-spacing: -0.2rem;
  line-height: 7rem;
  transition: 0.3s transform ease-in-out;
  text-align: center;
  color: white;
}
.front-page .text:hover > div > span {
  transform: translateY(-100%);
}
.front-page .text > div {
  background-color: rgba(0, 0, 0, 0.2);
}
/* 过渡动画部分 */
body {
}
.transition {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
video {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  object-fit: cover;
}
#logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 100vw #ffcccc;
  width: 0;
  height: 0;
  z-index: 1;
}
#logo {
  width: 100%;
  height: 100%;
  background-color: #ffcccc;
  opacity: 1;
}
.transition h1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 10;
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  letter-spacing: -1px;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
/* 轮播图 */

/* 箭头的样式 */
#section-media .media-nav-btn {
  width: 5.63rem;
  flex: none;
  z-index: 1;
}
.arrowBtn {
  display: inline-block;
}
.arrowBtn svg {
  fill: #666666;
  transition: fill 0.3s;
  cursor: pointer;
}
.arrowBtn svg circle,
.arrowBtn svg use {
  transition: transform 0.3s;
}

.arrowBtn:hover.prev svg,
.arrowBtn.clicked.prev svg,
.arrowBtn:hover.next svg,
.arrowBtn.clicked.next svg {
  fill: #d6d6d6;
}

.arrowBtn:hover.prev svg .dot,
.arrowBtn.clicked.prev svg .dot,
.arrowBtn:hover.next svg .dot,
.arrowBtn.clicked.next svg .dot {
  transform: scale(1);
}

.arrowBtn:hover.prev svg .top,
.arrowBtn.clicked.prev svg .top {
  transform: translate(8%, -8%);
}

.arrowBtn:hover.prev svg .bot,
.arrowBtn.clicked.prev svg .bot {
  transform: translate(8%, 8%);
}

.arrowBtn:hover.next svg .top,
.arrowBtn.clicked.next svg .top {
  transform: translate(-8%, -8%);
}

.arrowBtn:hover.next svg .bot,
.arrowBtn.clicked.next svg .bot {
  transform: translate(-8%, 8%);
}

/* 左箭头 */
#section-media .media-nav-btn.prev {
  margin-left: 8.13rem;
}

/* 右箭头 */
#section-media .media-nav-btn.next {
  margin-right: 8.13rem;
}

/* ddd */
#section-media {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #e3e3e3;
  transform: translateZ(1px);
  background-color: 0;
  width: 100vw;
}
#section-media .media-main-view .media-main-pic .media-img {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}
#section-media .media-main-view .media-main-pic:hover {
  transform: scale(1.01);
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#section-media .media-main-view .media-main-pic {
  position: relative;
  width: 51.88rem;
  height: 29.13rem;
  margin: 0 auto;
}

#section-media .media-user-interactive {
  position: relative;
  float: left;
  margin-top: -15rem;
  pointer-events: none;
  z-index: 1;
}

#section-media .media-user-interactive .media-current-info {
  height: 16.25rem;
  width: 57.13rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#section-media .media-user-interactive .media-current-info .media-info-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section-media
  .media-main-view
  .media-user-interactive
  .media-current-info
  .media-info-serial {
  font-family: "Bender";
}

#section-media
  .media-user-interactive
  .media-current-info
  .media-info-wrapper
  .media-info-serial {
  padding-left: 0.94rem;
  letter-spacing: 0.31rem;
  font-size: 5.63rem;
}

#section-media
  .media-user-interactive
  .media-current-info
  .media-info-wrapper
  .media-info-title {
  font-size: 3.13rem;
  padding: 0.94rem;
  background-color: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

#section-media
  .media-user-interactive
  .media-current-info
  .media-info-wrapper
  .media-info-detail {
  padding-left: 0.94rem;
}
/*  */
/* 弹出层 */
.out-container {
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
  z-index: 999;
  filter: blur(100p);
}
.front-page .all-pic {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  backdrop-filter: blur(7px);
}
.front-page .all-pic .pic {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}
