@font-face {
  font-family: "font";
  src: url("../../font/font-style.ttf") format("woff2");
}

* {
  font-family: font !important;
}

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #3d887b, #39a198);
  overflow: hidden;
}

.foot {
  position: absolute;
  z-index: 1;
  background: 0%;
  height: 300px;
  bottom: -200px;
}

.button {
  display: inline-block;
  position: relative;
  top: 0;
  border-radius: 50px;
  background: linear-gradient(
    to bottom right,
    rgb(106, 184, 156),
    rgba(93, 190, 178, 0.865)
  );
  border: none;
  color: #0b0a0a;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 700px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/*按钮箭头*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*百叶窗*/
.container {
  display: flex;
  width: 90vw;
  max-width: 1200px;
  height: 600px;
  overflow: hidden;
}
.item {
  position: relative;
  width: 60px;
  margin: 10px;
  cursor: pointer;
  border-radius: 40px;
  background-size: cover;
  background-position: center;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
}
.item .shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.item .content {
  display: flex;
  position: absolute;
  left: 10px;
  right: 0;
  bottom: 10px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.item .content .icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.item .content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: #fff;
  width: 100%;
}
.item .content .text div {
  width: calc(100% - 70px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.item .content .text .tit {
  font-weight: bold;
  font-size: 18px;
}
.item .content .text .sub {
  transition-delay: 0.4s;
}

.item.active {
  flex: 1;
  margin: 0;
  border-radius: 40px;
}
/*div内阴影*/
.item.active .shadow {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 65%, transparent);
}
.item.active .content {
  bottom: 20px;
  left: 20px;
}
.item.active .content .text div {
  opacity: 1;
}

/*背景波纹效果*/
.content1 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin: 0px;
  z-index: -1;
}
.wave {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: white 5px solid;
}

.wave1 {
  animation: wave1 3s linear infinite;
}
.wave2 {
  animation: wave2 3s linear infinite;
}
.wave3 {
  animation: wave3 3s linear infinite;
}
@keyframes wave3 {
  from {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  to {
    width: 500px;
    height: 500px;
    border-radius: 250px;
  }
}
@keyframes wave2 {
  from {
    width: 500px;
    height: 500px;
    border-radius: 250px;
  }
  to {
    width: 1000px;
    height: 1000px;
    border-radius: 500px;
  }
}
@keyframes wave1 {
  from {
    width: 1000px;
    height: 1000px;
    border-radius: 500px;
  }
  to {
    width: 2000px;
    height: 2000px;
    border-radius: 1000px;
  }
}
